@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
body{
    font-family: "Share Tech", sans-serif;
        font-weight: 400;
        font-style: normal;  
}
:root{
    --slantedtext:"Tektur", sans-serif;
    --primarycolor: #258cbf;
    --secondarycolor: white;
}

*{
    margin: 0;
    padding: 0;
}
#logo{
    float: left;
    width: 45px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #258cbf;
}
li {
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111;
}


.search{
    position: relative;
    width: 260px;
    float: right;
}
.search input {
    width: 100%;
    padding: 10px 10px 17px 35px;
    border: 1px solid #258cbf;
    border-radius: 5px;
    font-size: 15px;
}

.search .fa-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #258cbf;
}


#container{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/background1.jpg) center/cover no-repeat fixed;
}
