@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
body{
    font-family: "Share Tech", sans-serif;
        font-weight: 400;
        font-style: normal;  
}
:root{
    --slantedtext:"Tektur", sans-serif;
    --primarycolor: #258cbf;
    --secondarycolor: white;
    --maintransition: all 0.3s ease-in-out;
    --letterspacing: 0.5rem;
}

*{
    margin: 0;
    padding: 0;
}
#logo{
    float: left;
    width: 45px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #258cbf;
}
li {
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--slantedtext);
}
li a:hover{
    background-color: #111;
}


.search{
    position: relative;
    width: 260px;
    float: right;
}
.search input {
    width: 100%;
    padding: 10px 10px 17px 35px;
    border: 1px solid #258cbf;
    border-radius: 5px;
    font-size: 15px;
    font-family: var(--slantedtext);
}

.search .fa-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #258cbf;
}
p{
    color: var(--secondarycolor);
    letter-spacing: 0.2rem;
}

/* header */

#container{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/background1.jpg) center/cover no-repeat fixed;
    position: relative;
}
.banner{
    position: absolute;
    top: 40%;
    left: 10%;
    text-align: center;
    letter-spacing: var(--letterspacing);
    text-transform: uppercase;
}
.hone{
    color: var(--primarycolor);
    font-size: 3.5rem;
    font-family: var(--slantedtext);
}
.htwo{
    color: var(--secondarycolor);
    font-size: 2.5rem;
}
.hthree{
    color: var(--secondarycolor);
    font-size: 1.8rem;
}
.main-btn, .banner-btn{
    margin-top: 2rem;
    display: inline-block;
    background: var(--primarycolor);
    letter-spacing: var(--letterspacing);
    padding: 0.8rem 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    outline: 0.2rem solid var(--primarycolor);
    outline-offset: 4px;
    cursor: pointer;
    transition: var(--maintransition);
}
.main-btn:hover,.banner-btn:hover{
    color: var(--primarycolor);
    background: var(--secondarycolor);
    opacity: 0.7;
}
.banner-btn{
    padding: 1.5rem 1.8rem;
}
.divider{
    height: 8px;
    background: linear-gradient(to left,
    var(--primarycolor),
    var(--secondarycolor),
    var(--primarycolor));
}
.about{
    min-height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/back3.jpg) center/cover no-repeat fixed;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-left{
    padding: 50px 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var(--letterspacing);
    transition: var(--maintransition);
    margin: 0 auto;
}
.about-pic{
    border: 10px solid var(--primarycolor);
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    width: fit-content;
    margin: auto;
    transition: var(--maintransition);
}
.about-pic:hover{
    opacity: 0.6;
    transform: scale(0.9);

}
@media screen and (min-width: 992px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about-left {
        float: none;
        width: 50%;
        text-align:right;
        padding: 20rem 0;
    }
}
.sec-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    gap: 40px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/back2.jpg) center/cover no-repeat fixed;
    text-transform: uppercase;
    letter-spacing: var(--letterspacing);

}
.pro-left,
.video {
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.video video {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 5px solid var(--primarycolor);
    border-radius: 10px;
    box-sizing: border-box; 
}
@media screen and (min-width: 992px) {
    .sec-product {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        gap: 60px;
    }

    .pro-left {
        text-align: left;
        padding: 15rem 0 0 ;
    } 
}